@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-3">TIMESTAMP</h2>
    <p>Display server datetime @ViewData["TimeStamp"]</a>.</p>
</div>
